.boton {
    height: 100px;
    margin: 1%;
    font-size: 70px;
    background-color: black;
    color: red;
}

.texto{
    text-align: center;
    background-color: black;
    width: 8%;
    margin-left: 46%;
}